{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>لیست غذاها</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- <link rel="stylesheet" href="{% static 'css/admin_style.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <header>
        <h1>لیست غذاها - پنل مدیریت</h1>
    </header>
    <main>
        <table id="food-list">
            <thead>
                <tr>
                    <th>نام غذا</th>
                    <th>دسته‌بندی</th>
                    <th>قیمت</th>
                    <th>تصویر</th>
                    <th>عملیات</th>
                </tr>
            </thead>
            <tbody>
                <!-- داده‌ها از طریق جاوااسکریپت اضافه خواهند شد -->
            </tbody>
        </table>
    </main>
    <script src="{% static 'js/food_list.js' %}"></script>
</body>
</html>
